.stars {
    padding-left: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    &__wrapper {
        display: flex;
        align-items: center;
        margin-left: 24px;
    }
    &__name {
        font-size: 16px;
        width: 240px;
    }
    &__item {
        cursor: pointer;
        font-size: 20px!important;
        margin-right: 5px;
        &:hover {
            color: #FFC473;
        }
        &.fill {
            color: #FFC473;
        }
    }
    &--comment {
        margin-bottom: 5px;
        padding-left: 10px;
        .stars__name {
            font-size: 14px;
            width: 210px;
        }
        .stars__wrapper {
            display: flex;
            align-items: center;
            margin-left: 6px;
        }
        .stars__item {
            cursor: pointer;
            font-size: 16px!important;
            margin-right: 5px;

            &.fill {
                color: #FFC473;
            }
        }
    }
}